{% extends "layout.twig" %}
{% block contenu %}

	<div class="container contain-background">
		<div class="row justify-content-md-center">
			<div class="col">
				<h1>Jeu {{ name }}</h1>
			</div>
		</div>
		<div class="row justify-content-md-center">
			<div class="col-">
				Cartes défaussées joueurs adverses
			</div>
		</div>
		<div class="row justify-content-md-center">
			<div class="col-">
				Cartes joueurs
			</div>
		</div>
		<div class="row justify-content-md-center">
			<div class="col">
				Pioche
			</div>
			<div class="col-">
				Main persistante
			</div>
			<div class="col">
				Carte à défausser
			</div>
		</div>

	</div>

	{#<div id="myModal" class="modal fade">
		<div class="modal-dialog">
			<div class="box" style="overflow: hidden;">
				<div class="box-header with-border">
					<h3 class="box-title"> Effet du baron </h3>
					<button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
				</div>
				<div class="box-body">
                    Choisissez un joueur
				</div>
			</div>
		</div>
	</div>#}
	<div id="myModal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Modal body text goes here.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Save changes</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div id="myModalCarte" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Modal body text goes here.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Save changes</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


{% endblock %}

{% block javascript %}
	<script content="javascript">
		var actualisationInterval = 2000;
		var intervals = [];

		function refreshTimeConnect() {
			$.getJSON("{{ base_url('Game_c/refreshTimeConnect') }}", function (result) {
				console.log("retour:" + result);
				if (!result) {
					alert('Une erreur est survenue');
					clearAllInterval();
				}
			});
			console.log("actualisation");

			$.getJSON("{{ base_url('Game_c/getNbJoueurs') }}", function (result) {
				console.log("retour:" + result);
				if (!result) {
					alert('Une erreur est survenue');
					clearAllInterval();
				}
			});
		}

		function clearAllInterval() {
			intervals.forEach(function (interval) {
				clearInterval(interval);
			});
		}

		function action(id_carte) {
			switch (id_carte) {
				case 1:
					//Garde
					var tabAd;
					var joueur_selected;
					var carte_selected;
					var tab;
                    $.getJSON("{{ base_url('Game_c/getAdversaires') }}", function (result) {
                        if (!result) {
                            tabAd = JSON.parse(result);
                            joueur_selected = $('#myModal').modal('show'); // popup qui propose les joueurs
                        }
                    });
                    $.getJSON("{{ base_url('Game_c/getCartesSansGarde') }}", function (result) {
                        if (!result) {
                            tab = JSON.parse(result);
                            carte_selected = $('#myModalCarte').modal('show'); // popup qui propose les cartes
                        }
                    });

					break;
				case 2:
					//Pretre
                    $.getJSON("{{ base_url('Game_c/getAdversaires') }}", function (result) {
                        if (!result) {
                            var tab = JSON.parse(result);
                            var joueur_selected = $('#myModal').modal('show'); // popup qui propose les joueurs
                            $.ajax({
                                url: "{{ base_url('Game_c/voirMain') }}",
                                type: 'POST',
                                contentType: "application/json",
                                dataType: 'json',
                                data: JSON.stringify(joueur_selected),
                                success: function(msg) {
                                    alert(msg);
                                    var cartes_adversaire = JSON.parse(msg);
                                    console.log(cartes_adversaire);
                                }
                            });
                        }
                    });
					break;
				case 3:
					//Baron
					$.getJSON("{{ base_url('Game_c/getAdversaires') }}", function (result) {
						if (!result) {
							var tab = JSON.parse(result);
							var joueur_selected = $('#myModal').modal('show'); // popup qui propose les joueurs
							$.ajax({
								url: "{{ base_url('Game_c/joueurCompare') }}",
								type: 'POST',
								contentType: "application/json",
								dataType: 'json',
								data: JSON.stringify(joueur_selected),
								success: function(msg) {
									alert(msg);
									var cartes_adversaire = JSON.parse(msg);
									console.log(cartes_adversaire);
								}
							});
						}
					});
					break;
				case 4:
					//Servante
					break;
				case 5:
					//Prince
					break;
				case 6:
					//Roi
					break;
				case 7:
					//Comtesse
					break;
				case 8:
					//Princesse

					break;
				default:
					console.log("Carte inexistante");
			}
		}

		$(document).ready(function () {
				intervals[0] = window.setInterval(refreshTimeConnect, actualisationInterval);
			}
		);
	</script>
{% endblock %}