{% extends "layout.twig" %}
{% block contenu %}
	<div class="row">
		<div class="panel">
			<br/>
			{{ form_open('Users_c/form_valid_connexion') }}

			<label for="login">Pseudo
			<input type="text" name="login" value="{{ set_value('login') }}"/></label>
			{{ form_error('login') }}

			<label for="pass">Mot de passe
			<input type="password" name="pass" value="{{ set_value('pass') }}"/></label>
			{{ form_error('pass') }}

			{% if erreur is defined %}<span class="error">{{ erreur }}</span>{% endif %}

			<input class="button small" type="submit" value="Connexion"/>
			<input class="button small secondary" type="reset" value="Réinitialiser">

			{{ form_close() }}
		</div>
	</div>
{% endblock %}
